
/.quarto
/.quarto
.quarto/_freeze/index/execute-results/html.json
.quarto/_freeze/index/execute-results/html.json
/.quarto/_freeze/index/execute-results
.Rproj.user/8CD3A283/sources/per/t/A4AFA4E2-contents
/.Rproj.user
/.Rproj.user
/.Rproj.user/8CD3A283/jobs
/.Rproj.user/8CD3A283
/.quarto/idx
/.quarto/_freeze
/.quarto/_freeze/index
/.quarto/_freeze/index/execute-results
/.quarto
/.Rproj.user/8CD3A283/sources/prop
/.Rproj.user
